In [32]:
import pandas as pd
import numpy as np
import scipy as sp

from itertools import chain

import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
aa_df=pd.read_csv('~/Documents/persona_project_cardiology/clustering/AllUniqueAAToDevice.csv')

In [34]:
#read in v3 data which is a dictionary of aa and what do they stand for
v3b =pd.read_csv('~/Documents/persona_project_cardiology/clustering/v3b.csv')

In [35]:
#dictionary
dict =pd.read_csv('~/Documents/persona_project_cardiology/clustering/broadCatNameDict.csv')

In [36]:
#reshape aa df from wide to long 
aa_df2=pd.melt(aa_df, id_vars=['DEVICE_ID_HASHED'], value_vars=aa_df.columns.values[1:])

In [37]:
aa_df2.columns=['DEVICE_ID_HASHED','SEG_ID_STR','Indicator']

In [38]:
v3b['SEG_ID_STR']='ID_'+v3b['SEGMENT_ID'].astype(str)

In [39]:
#merge with dictionary table to get device to multiple new id association
aa_df3=aa_df2.merge(v3b,left_on='SEG_ID_STR', right_on='SEG_ID_STR', how='left')

In [40]:
aa_df4=aa_df3.groupby(['DEVICE_ID_HASHED','id_new'])[['Indicator']].sum()

In [41]:
aa_df5 = pd.pivot_table(aa_df4, values='Indicator', index=['DEVICE_ID_HASHED'], columns=['id_new'], aggfunc=np.sum)

In [42]:
aa_df5.head()

id_new,-1,0,1,2,3,4,5,6,7,8,...,857,858,859,860,861,862,863,864,865,866
DEVICE_ID_HASHED,,,,,,,,,,,,,,,,,,,,,
00010B75363B7EB295D17AB42BF8F6B184ECE3F0,2,8,1,1,1,0,0,0,1,0,...,0,7,1,1,1,0,1,0,0,1
000180712492F9A88FBE42FF8D3C66A1BA0722D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001B20963D126A01D00CAEBDA1890E491BD208A,2,2,0,1,0,0,0,0,1,0,...,1,2,0,2,1,0,1,2,0,0
00022EA22DA1D361B931522BE924A34286ECC684,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0003D9E46E69B758B6322BB1F9A1DF999D526ED8,2,9,0,0,0,0,0,0,0,0,...,0,6,0,1,0,0,3,1,1,0

In [43]:
def change(x): 
    if x>=1:
        x=1
    else:
        x=0
    return x

In [44]:
aa_df6=aa_df5

In [45]:
for i in range(aa_df6.shape[1]):
    aa_df6.iloc[:,i]=aa_df6.iloc[:,i].apply(change)

In [46]:
aa_df6.head()

id_new,-1,0,1,2,3,4,5,6,7,8,...,857,858,859,860,861,862,863,864,865,866
DEVICE_ID_HASHED,,,,,,,,,,,,,,,,,,,,,
00010B75363B7EB295D17AB42BF8F6B184ECE3F0,1,1,1,1,1,0,0,0,1,0,...,0,1,1,1,1,0,1,0,0,1
000180712492F9A88FBE42FF8D3C66A1BA0722D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001B20963D126A01D00CAEBDA1890E491BD208A,1,1,0,1,0,0,0,0,1,0,...,1,1,0,1,1,0,1,1,0,0
00022EA22DA1D361B931522BE924A34286ECC684,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0003D9E46E69B758B6322BB1F9A1DF999D526ED8,1,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,1,1,0

In [47]:
aa_df6.to_csv('~/Documents/persona_project_cardiology/clustering/broad_cat_cleaned0829.csv')