In [2]:
import pandas as pd
import numpy as np
import scipy as sp

from itertools import chain

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#grouping aa into broad categories:
#find a dictionary assocating aa, segment ID, broad category, new id
#create a matrix of all aa for each device 
#reshape from wide to long and join device to aa table with dictionary to get unique device to multiple new id table 
#reshape to get unique device to unique new id table
#add broad cat to table

In [3]:
#read in persona data
persona =pd.read_csv('~/Documents/persona_project_cardiology/original data and supplements/persona_exploration.csv')

In [4]:
aa_df=pd.read_csv('~/Documents/persona_project_cardiology/clustering/AllUniqueAAToDevice.csv')

In [5]:
#counts = aa_df1['DEVICE_ID_HASHED'].value_counts()
#aa_df1[aa_df1['DEVICE_ID_HASHED'].isin(counts.index[counts > 1])]

In [6]:
#drop duplicated rows 
aa_df1=aa_df.drop(index=[912,5900,11704,33264])

In [7]:
#read in v3 data which is a dictionary of aa and what do they stand for
v3 =pd.read_csv('~/Documents/persona_project_cardiology/original data and supplements/v3_segments.csv')

In [8]:
#following segment id will need the most granular info
a=np.arange(18387,18413+1,1) #a=np.arange(20859,21082+1,1) #maybe (granular industry stuff)
b=np.arange(22330,35501+1,1) #35502-38702 could potentially be removed (grannular age)
c=np.arange(56739,56751+1,1)
e=np.arange(567143,567143+1,1)
3=np.arange(57644,57676+1,1)
f=np.arange(60878,60880+1,1)
g=np.arange(94415, 94415+1,1) 
h=np.arange(94642, 94642+1,1) 
i=np.arange(94773,94880+1,1)
  #h=np.arange(94917,94935+1,1) #maybe. about next car purchase 
j=np.arange(95092,95099+1,1)
k=np.arange(95179,95208+1,1)
  #j=np.arange(95214,95352+1,1) #maybe. app use 
l=np.arange(96315,96341+1,1)
m=np.arange(96392, 96392+1,1) #by itself 
n=np.arange(96567,96600+1,1)
o=np.arange(96626,96649+1,1)
p=np.arange(96831,97016+1,1)
q=np.arange(98803,98863+1,1) #professions
r=np.arange(14699961,15260013+1,1)
s=np.arange(19698707,19698717+1,1)

In [9]:
#put these segment ID into one list
level3=list(chain(a,b,c,d,e,f,g,h,i,j,k,l,m,n))

In [10]:
#take subset of dataframe for segments need the most granular info
l3_df=v3[v3['SEGMENT_ID'].isin(level3)]

In [11]:
#take subset of dataframe for segments need the second to most granular info
l2_df=v3[v3['SEGMENT_ID'].isin(level3) == False]

In [12]:
#create new variable called name for segment ID and name match incorporating different levels of granularity
l3_df['name']=l3_df['CATEGORY2']+" "+l3_df['CATEGORY3'].astype('str')+' '+l3_df['SEGMENT_NAME']

/Users/aiyizhang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
#create new variable called name for segment ID and name match incorporating different levels of granularity
l2_df['name']=l2_df['CATEGORY2']+" "+l2_df['CATEGORY3'].astype('str')

/Users/aiyizhang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
#put level3 and level2 together into one dataframe called v3b and create new segment ID called id_new base on new granularity info
v3b=l3_df.append(l2_df)
v3b['id_new'] = v3b.groupby(['name']).ngroup()

In [171]:
broadCatName=v3b[['id_new','name']].drop_duplicates()

In [172]:
#output just to look at it
broadCatName.to_csv('~/Documents/persona_project_cardiology/clustering/broadCatNameDict.csv')

In [16]:
#reshape aa df from wide to long 
#aa_df2=pd.melt(aa_df1, id_vars=['DEVICE_ID_HASHED'], value_vars=aa_df1.columns.values[1:])

In [17]:
#aa_df2.columns=['DEVICE_ID_HASHED','SEG_ID_STR','Indicator']

In [24]:
#v3b['SEG_ID_STR']='ID_'+v3b['SEGMENT_ID'].astype(str)

In [26]:
#merge with dictionary table to get device to multiple new id association
#aa_df3=aa_df2.merge(v3b,left_on='SEG_ID_STR', right_on='SEG_ID_STR', how='left')

In [34]:
#aa_df3.to_csv('~/Documents/persona_project_cardiology/clustering/aa_df3_middleStep.csv')

In [65]:
#aa_df4b=aa_df3.groupby(['DEVICE_ID_HASHED','id_new'])[['Indicator']].sum()

In [112]:
#aa_df5 = pd.pivot_table(aa_df4b, values='Indicator', index=['DEVICE_ID_HASHED'], columns=['id_new'], aggfunc=np.sum)

In [114]:
#aa_df5.head()

id_new,-1,0,1,2,3,4,5,6,7,8,...,783,784,785,786,787,788,789,790,791,792
DEVICE_ID_HASHED,,,,,,,,,,,,,,,,,,,,,
00010B75363B7EB295D17AB42BF8F6B184ECE3F0,2,8,1,1,1,0,0,0,1,0,...,0,7,1,1,1,0,1,0,0,1
000180712492F9A88FBE42FF8D3C66A1BA0722D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001B20963D126A01D00CAEBDA1890E491BD208A,2,2,0,1,0,0,0,0,1,0,...,1,2,0,2,1,0,1,2,0,0
00022EA22DA1D361B931522BE924A34286ECC684,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0003D9E46E69B758B6322BB1F9A1DF999D526ED8,2,9,0,0,0,0,0,0,0,0,...,0,6,0,1,0,0,3,1,1,0

In [93]:
#def change(x): 
#    if x>=1:
#        x=1
#    else:
#        x=0
#    return x

In [124]:
#aa_df6=aa_df5

In [125]:
#for i in range(aa_df6.shape[1]):
#    aa_df6.iloc[:,i]=aa_df6.iloc[:,i].apply(change)

In [127]:
#aa_df6.head()

id_new,-1,0,1,2,3,4,5,6,7,8,...,783,784,785,786,787,788,789,790,791,792
DEVICE_ID_HASHED,,,,,,,,,,,,,,,,,,,,,
00010B75363B7EB295D17AB42BF8F6B184ECE3F0,1,1,1,1,1,0,0,0,1,0,...,0,1,1,1,1,0,1,0,0,1
000180712492F9A88FBE42FF8D3C66A1BA0722D3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001B20963D126A01D00CAEBDA1890E491BD208A,1,1,0,1,0,0,0,0,1,0,...,1,1,0,1,1,0,1,1,0,0
00022EA22DA1D361B931522BE924A34286ECC684,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0003D9E46E69B758B6322BB1F9A1DF999D526ED8,1,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,1,1,0

In [128]:
#aa_df6.to_csv('~/Documents/persona_project_cardiology/clustering/broad_cat_cleaned0828.csv')